body {
    margin: 0;
    background: #707070;
    font-family: system-ui;
    display: grid;
    color: aliceblue;
    
    min-height: 100vh;
    min-width: 100vw;
}

.App {
    min-width: 100vw;
    min-height: 100vh;

    display: grid;
    grid-template-columns: 1fr 8fr;
}